{% set opponnent1 = match.opponents.get(0) %}
{% set opponnent2 = match.opponents.get(1) %}
<li class="tournament-bracket__item {{ toloser ? 'to-loser' }} {{ isloser ? 'is-loser' }}">
    <div class="tournament-bracket__match" tabindex="0">
        <div class="inner">
            <div class="date">{{ match.scheduledDatetime|date('d M Y h:i') }}</div>
            <div class="match d-flex flex-column"  data-toggle="modal" data-target="#match-modal" data-id="{{ match.id }}">
                <div class="player d-flex flex-row {{ match.status == "completed" ? opponnent1.result }}">
                    <div class="name pl-2">
                        <div class="overflow">
                            {{ opponnent1.participant.name ?: 'TDB'  }}
                        </div>
                    </div>
                    <div class="score text-center">{{ opponnent1.score ?: '-' }}</div>
                </div>
                <div class="player d-flex flex-row {{ match.status == "completed" ? opponnent2.result }}">
                    <div class="name pl-2">
                        <div class="overflow">
                            {{ opponnent2.participant.name ?: 'TDB' }}
                        </div>
                    </div>
                    <div class="score text-center">{{ opponnent2.score ?: '-' }}</div>
                </div>
            </div>
        </div>
    </div>
</li>